---

- name: "install server redhat | Disable postgresql dnf module to install maximum available postgresql version"
  ansible.builtin.command: dnf -qy module disable postgresql
  changed_when: True
  when: dnf_postgresql_module_results.stdout is defined and '[e]' in dnf_postgresql_module_results.stdout and
    ansible_pkg_mgr == 'dnf' and not postgresql_recommended_version

- name: "install server redhat | Enable postgresql module version"
  ansible.builtin.command: >-
    dnf -qy module enable postgresql{% if postgresql_version | string in dnf_postgresql_module_results.stdout and
    postgresql_version | int > 0 %}:{{ postgresql_version }}{% endif -%}
  changed_when: True
  when: ansible_pkg_mgr == 'dnf' and not postgresql_recommended_version and
    check_postgresql_repo_url_results is defined and check_postgresql_repo_url_results.failed and
    dnf_postgresql_module_results.stdout is defined and dnf_postgresql_module_results.stdout | length > 0

- name: "install server redhat | Install packages depending on detected package manager"
  ansible.builtin.include_tasks: pkg_management/install_{{ ansible_pkg_mgr }}.yml

- name: "install server redhat | Check data directory exists"
  ansible.builtin.find:
    paths: "{{ postgresql_data_path }}"
  register: postgresql_data_dir_found

- name: "install server redhat | Init database when data directory not found"
  ansible.builtin.command:
    cmd: >-
      {% if ansible_distribution == 'Fedora' or ansible_distribution_major_version | int >= 7 -%}
      {% if postgresql_version_regex | length > 0 %}/usr/bin/postgresql-setup initdb{% else -%}
      /usr/pgsql-{{ postgresql_version }}/bin/postgresql-{{ postgresql_version }}-setup initdb{% endif -%}
      {% else -%}
      /sbin/service postgresql{% if postgresql_version is defined and postgresql_version is not none and
      postgresql_version | string | length > 0 and not (postgresql_version_regex | length > 0) -%}
      -{{ postgresql_version }}{% endif %} initdb{% endif %}
  environment:
    LANG: en_US.utf8
    TZ: "{{ postgresql_default_timezone }}"
    PGTZ: "{{ postgresql_default_timezone }}"
  register: init_db_results
  changed_when: not init_db_results.failed
  when: postgresql_data_dir_found.matched == 0
