---

lxc_technology: lxc
use_lxc_default_net: True
check_host_is_lxc_ready: False
append_lxc_config: |
  lxc.net.0.type = veth
  lxc.net.0.link = lxcbr0
  lxc.net.0.name = eth0
  lxc.net.0.flags = up
  lxc.net.0.hwaddr = 00:16:3e:xx:xx:xx
  lxc.net.0.veth.pair = pair-lxc
  lxc.apparmor.allow_incomplete = 1
