---

- name: "delete zabbix agent dnf | Remove zabbix agent packages"
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: absent
    autoremove: True
  with_items:
    - zabbix-agent
    - zabbix-agent2
    - zabbix-release